In [ ]:
!pip install pyspark

Collecting pyspark
  Downloading pyspark-3.5.1.tar.gz (317.0 MB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 317.0/317.0 MB 2.4 MB/s eta 0:00:00
  Preparing metadata (setup.py) ... done
Requirement already satisfied: py4j==0.10.9.7 in /usr/local/lib/python3.10/dist-packages (from pyspark) (0.10.9.7)
Building wheels for collected packages: pyspark
  Building wheel for pyspark (setup.py) ... done
  Created wheel for pyspark: filename=pyspark-3.5.1-py2.py3-none-any.whl size=317488491 sha256=fe4160f0c7f7c89ea98c11e7b61d9f59a411a9597aefd496d2e1ab4732cf597a
  Stored in directory: /root/.cache/pip/wheels/80/1d/60/2c256ed38dddce2fdd93be545214a63e02fbd8d74fb0b7f3a6
Successfully built pyspark
Installing collected packages: pyspark
Successfully installed pyspark-3.5.1

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

###***Importacion de librerias***

In [ ]:
import pandas as pd
import pyarrow
import requests
import matplotlib.pyplot as plt
from matplotlib.colors import LinearSegmentedColormap
import seaborn as sns
import numpy as np
import pyspark
from pyspark.sql import SparkSession
from pyspark.sql import functions as F
from pyspark.sql.functions import col
from pyspark.sql.functions import when
from pyspark.sql.window import Window
from pyspark.sql.functions import min, max
from pyspark.sql.functions import hour
from pyspark.sql.functions import to_timestamp, round
from pyspark.sql import SparkSession
from functools import reduce

**Lee y carga el Archivo**

In [ ]:
# Crea una sesión de Spark
spark = SparkSession.builder.master("local[*]").getOrCreate()

# Ruta de la carpeta que contiene los archivos Parquet
ruta = "/content/drive/MyDrive/Proyecto FInal Henry/datos_tripdata/"

# Lista para almacenar los DataFrames de cada archivo
dfs = []

# Itera sobre los años 2022 y 2023 y sobre todos los meses
for year in range(2022, 2024):
    for month in range(1, 13):
        filename = f"yellow_tripdata_{year}-{month:02d}.parquet"
        try:
            df = spark.read.parquet(ruta + filename)
            dfs.append(df)
        except:
            print(f"No se encontró el archivo {filename}")


df_total = reduce(lambda df1, df2: df1.union(df2), dfs)
df_total.printSchema()
df_total.show()

root
 |-- VendorID: long (nullable = true)
 |-- tpep_pickup_datetime: timestamp_ntz (nullable = true)
 |-- tpep_dropoff_datetime: timestamp_ntz (nullable = true)
 |-- passenger_count: double (nullable = true)
 |-- trip_distance: double (nullable = true)
 |-- RatecodeID: double (nullable = true)
 |-- store_and_fwd_flag: string (nullable = true)
 |-- PULocationID: long (nullable = true)
 |-- DOLocationID: long (nullable = true)
 |-- payment_type: long (nullable = true)
 |-- fare_amount: double (nullable = true)
 |-- extra: double (nullable = true)
 |-- mta_tax: double (nullable = true)
 |-- tip_amount: double (nullable = true)
 |-- tolls_amount: double (nullable = true)
 |-- improvement_surcharge: double (nullable = true)
 |-- total_amount: double (nullable = true)
 |-- congestion_surcharge: double (nullable = true)
 |-- airport_fee: double (nullable = true)

+--------+--------------------+---------------------+---------------+-------------+----------+------------------+------------+------------+------------+-----------+-----+-------+----------+------------+---------------------+------------+--------------------+-----------+
|VendorID|tpep_pickup_datetime|tpep_dropoff_datetime|passenger_count|trip_distance|RatecodeID|store_and_fwd_flag|PULocationID|DOLocationID|payment_type|fare_amount|extra|mta_tax|tip_amount|tolls_amount|improvement_surcharge|total_amount|congestion_surcharge|airport_fee|
+--------+--------------------+---------------------+---------------+-------------+----------+------------------+------------+------------+------------+-----------+-----+-------+----------+------------+---------------------+------------+--------------------+-----------+
|       1| 2022-01-01 00:35:40|  2022-01-01 00:53:29|            2.0|          3.8|       1.0|                 N|         142|         236|           1|       14.5|  3.0|    0.5|      3.65|         0.0|                  0.3|       21.95|                 2.5|        0.0|
|       1| 2022-01-01 00:33:43|  2022-01-01 00:42:07|            1.0|          2.1|       1.0|                 N|         236|          42|           1|        8.0|  0.5|    0.5|       4.0|         0.0|                  0.3|        13.3|                 0.0|        0.0|
|       2| 2022-01-01 00:53:21|  2022-01-01 01:02:19|            1.0|         0.97|       1.0|                 N|         166|         166|           1|        7.5|  0.5|    0.5|      1.76|         0.0|                  0.3|       10.56|                 0.0|        0.0|
|       2| 2022-01-01 00:25:21|  2022-01-01 00:35:23|            1.0|         1.09|       1.0|                 N|         114|          68|           2|        8.0|  0.5|    0.5|       0.0|         0.0|                  0.3|        11.8|                 2.5|        0.0|
|       2| 2022-01-01 00:36:48|  2022-01-01 01:14:20|            1.0|          4.3|       1.0|                 N|          68|         163|           1|       23.5|  0.5|    0.5|       3.0|         0.0|                  0.3|        30.3|                 2.5|        0.0|
|       1| 2022-01-01 00:40:15|  2022-01-01 01:09:48|            1.0|         10.3|       1.0|                 N|         138|         161|           1|       33.0|  3.0|    0.5|      13.0|        6.55|                  0.3|       56.35|                 2.5|        0.0|
|       2| 2022-01-01 00:20:50|  2022-01-01 00:34:58|            1.0|         5.07|       1.0|                 N|         233|          87|           1|       17.0|  0.5|    0.5|       5.2|         0.0|                  0.3|        26.0|                 2.5|        0.0|
|       2| 2022-01-01 00:13:04|  2022-01-01 00:22:45|            1.0|         2.02|       1.0|                 N|         238|         152|           2|        9.0|  0.5|    0.5|       0.0|         0.0|                  0.3|        12.8|                 2.5|        0.0|
|       2| 2022-01-01 00:30:02|  2022-01-01 00:44:49|            1.0|         2.71|       1.0|                 N|         166|         236|           1|       12.0|  0.5|    0.5|      2.25|         0.0|                  0.3|       18.05|                 2.5|        0.0|
|       2| 2022-01-01 00:48:52|  2022-01-01 00:53:28|            1.0|         0.78|       1.0|                 N|         236|         141|           2|        5.0|  0.5|    0.5|       0.0|         0.0|                  0.3|         8.8|                 2.5|        0.0|
|       2| 2022-01-01 00:55:03|  2022-01-01 01:04:25|            1.0|         1.91|       1.0|                 N|         141|         229|           2|        8.5|  0.5|    0.5|       0.0|         0.0|                  0.3|        12.3|                 2.5|        0.0|
|       2| 2022-01-01 00:31:06|  2022-01-01 00:34:14|            3.0|         0.82|       1.0|                 N|         114|          90|           2|        4.5|  0.5|    0.5|       0.0|         0.0|                  0.3|         8.3|                 2.5|        0.0|
|       2| 2022-01-01 00:41:07|  2022-01-01 00:44:46|            3.0|         0.73|       1.0|                 N|         234|         113|           2|        4.5|  0.5|    0.5|       0.0|         0.0|                  0.3|         8.3|                 2.5|        0.0|
|       2| 2022-01-01 00:56:34|  2022-01-01 01:12:04|            2.0|         2.16|       1.0|                 N|         246|          79|           1|       11.5|  0.5|    0.5|      3.06|         0.0|                  0.3|       18.36|                 2.5|        0.0|
|       2| 2022-01-01 00:39:46|  2022-01-01 00:47:36|            4.0|         1.43|       1.0|                 N|          43|         140|           1|        7.5|  0.5|    0.5|      2.26|         0.0|                  0.3|       13.56|                 2.5|        0.0|
|       2| 2022-01-01 00:58:06|  2022-01-01 01:05:45|            1.0|         1.58|       1.0|                 N|         239|         151|           2|        8.0|  0.5|    0.5|       0.0|         0.0|                  0.3|        11.8|                 2.5|        0.0|
|       1| 2022-01-01 00:33:52|  2022-01-01 00:47:28|            3.0|          4.2|       1.0|                 N|         148|         141|           1|       14.0|  2.5|    0.5|      3.45|         0.0|                  0.3|       20.75|                 2.5|        0.0|
|       1| 2022-01-01 00:53:54|  2022-01-01 01:05:20|            2.0|          2.2|       1.0|                 N|         237|         107|           1|        9.5|  2.5|    0.5|      2.55|         0.0|                  0.3|       15.35|                 2.5|        0.0|
|       1| 2022-01-01 00:00:44|  2022-01-01 00:05:29|            1.0|          0.2|       1.0|                 N|           7|           7|           2|        5.0|  0.5|    0.5|       0.0|         0.0|                  0.3|         6.3|                 0.0|        0.0|
|       1| 2022-01-01 00:35:50|  2022-01-01 00:48:33|            2.0|          3.9|       1.0|                 N|         107|         263|           1|       13.0|  3.0|    0.5|      3.35|         0.0|                  0.3|       20.15|                 2.5|        0.0|
+--------+--------------------+---------------------+---------------+-------------+----------+------------------+------------+------------+------------+-----------+-----+-------+----------+------------+---------------------+------------+--------------------+-----------+
only showing top 20 rows

**>>> ETL MODELOS ML EMISIONES**

**Elimina columnas innecesarias**

In [ ]:
from pyspark.sql import SparkSession
from pyspark.sql.functions import col

# Crear una sesión de Spark
spark = SparkSession.builder \
    .appName("Eliminar columnas") \
    .getOrCreate()

# Suponiendo que tu DataFrame se llama df_total

# Eliminar las columnas especificadas
columnas_a_eliminar = ["VendorID", "congestion_surcharge" , "improvement_surcharge" , "passenger_count", "payment_type", "tpep_pickup_datetime", "tpep_dropoff_datetime", "RatecodeID", "store_and_fwd_flag",
                       "PULocationID", "DOLocationID", "fare_amount", "extra", "mta_tax", "tip_amount",
                       "tolls_amount", "total_amount", "airport_fee"]

df_total_emis = df_total.drop(*columnas_a_eliminar)

**Eliminación de nulos**

In [ ]:
# Eliminar registros con valores nulos en todas las columnas
df_total_sin_nulos = df_total_emis.dropna(how="all")

**Agrega columnas con cálculos necesarios de consumo y costo de combustible y emisiones**

In [ ]:
from pyspark.sql.functions import col

#Costo de combustible por milla = Precio del combustible por galón / Millas por galón

#Donde:
#- *Precio del combustible por galón* es el precio del combustible por galón en dólares.
#- *Millas por galón* es la cantidad de millas que el vehículo puede recorrer con un galón de combustible.

#Por ejemplo, si el precio del combustible por galón es de $3.00 y el vehículo tiene un consumo de combustible promedio de 25 millas por galón, el costo de combustible por milla sería:




# Calcular el costo de combustible (suponiendo un costo de $0.12 por milla)
df_total_sin_nulos = df_total_sin_nulos.withColumn("fuel_cost", col("trip_distance") * 0.12)

# Calcular la eficiencia de combustible por milla
df_total_sin_nulos = df_total_sin_nulos.withColumn("fuel_efficiency_per_mile", col("trip_distance") / col("fuel_cost"))

# Calcular el consumo de combustible por viaje
df_total_sin_nulos = df_total_sin_nulos.withColumn("fuel_consumption_per_trip", col("fuel_efficiency_per_mile") * col("trip_distance"))

# Calcular el CO2 por milla (suponiendo una tasa de emisión de 0.5 toneladas de CO2 por milla)
df_total_sin_nulos = df_total_sin_nulos.withColumn("co2_per_mile", col("trip_distance") * 0.5)

**Redondea los cálculos a 2 decimales**

In [ ]:
from pyspark.sql.functions import col, round

# Redondear los valores de las columnas especificadas
df_total_redondeado = df_total_sin_nulos \
    .withColumn("trip_distance", round(col("trip_distance"), 2)) \
    .withColumn("fuel_efficiency_per_mile", round(col("fuel_efficiency_per_mile"), 2)) \
    .withColumn("fuel_consumption_per_trip", round(col("fuel_consumption_per_trip"), 2)) \
    .withColumn("fuel_cost", round(col("fuel_cost"), 2))

# Verificar el DataFrame resultante
df_total_redondeado.show()

+-------------+---------+------------------------+-------------------------+------------+
|trip_distance|fuel_cost|fuel_efficiency_per_mile|fuel_consumption_per_trip|co2_per_mile|
+-------------+---------+------------------------+-------------------------+------------+
|          3.8|     0.46|                    8.33|                    31.67|         1.9|
|          2.1|     0.25|                    8.33|                     17.5|        1.05|
|         0.97|     0.12|                    8.33|                     8.08|       0.485|
|         1.09|     0.13|                    8.33|                     9.08|       0.545|
|          4.3|     0.52|                    8.33|                    35.83|        2.15|
|         10.3|     1.24|                    8.33|                    85.83|        5.15|
|         5.07|     0.61|                    8.33|                    42.25|       2.535|
|         2.02|     0.24|                    8.33|                    16.83|        1.01|
|         2.71|     0.33|                    8.33|                    22.58|       1.355|
|         0.78|     0.09|                    8.33|                      6.5|        0.39|
|         1.91|     0.23|                    8.33|                    15.92|       0.955|
|         0.82|      0.1|                    8.33|                     6.83|        0.41|
|         0.73|     0.09|                    8.33|                     6.08|       0.365|
|         2.16|     0.26|                    8.33|                     18.0|        1.08|
|         1.43|     0.17|                    8.33|                    11.92|       0.715|
|         1.58|     0.19|                    8.33|                    13.17|        0.79|
|          4.2|      0.5|                    8.33|                     35.0|         2.1|
|          2.2|     0.26|                    8.33|                    18.33|         1.1|
|          0.2|     0.02|                    8.33|                     1.67|         0.1|
|          3.9|     0.47|                    8.33|                     32.5|        1.95|
+-------------+---------+------------------------+-------------------------+------------+
only showing top 20 rows

**Exporta archivo en formato parquet**

In [ ]:
'''# Ruta para guardar el archivo Parquet con el nombre "df_ml_emis"
output_path_parquet = "/content/drive/MyDrive/Proyecto FInal Henry/DATA/df_ml_emis.parquet"

# Guarda el DataFrame como un solo archivo Parquet
merged_df_sin_nulos.coalesce(1).write.parquet(output_path_parquet, mode="overwrite")'''

'# Ruta para guardar el archivo Parquet con el nombre "df_ml_emis"\noutput_path_parquet = "/content/drive/MyDrive/Proyecto FInal Henry/DATA/df_ml_emis.parquet"\n\n# Guarda el DataFrame como un solo archivo Parquet\nmerged_df_sin_nulos.coalesce(1).write.parquet(output_path_parquet, mode="overwrite")'

**Exporta archivo en formato csv**

In [ ]:
'''
# Ruta para guardar el archivo CSV con el nombre "df_ml_emis"
output_path_csv = "/content/drive/MyDrive/Proyecto FInal Henry/DATA*/df_ml_emis.csv"

# Guarda el DataFrame como un solo archivo CSV
merged_df_sin_nulos.coalesce(1).write.csv(output_path_csv, mode="overwrite", header=True)'''

'\n# Ruta para guardar el archivo CSV con el nombre "df_ml_emis"\noutput_path_csv = "/content/drive/MyDrive/Proyecto FInal Henry/DATA*/df_ml_emis.csv"\n\n# Guarda el DataFrame como un solo archivo CSV\nmerged_df_sin_nulos.coalesce(1).write.csv(output_path_csv, mode="overwrite", header=True)'

**>>> ETL MODELOS ML VIAJES Y FRANJA HORARIA**

**Filtra solo las columnas necesarias para ML**

In [ ]:
df_total_fh = df_total [['tpep_pickup_datetime', 'tpep_dropoff_datetime', 'passenger_count', 'trip_distance', 'total_amount', 'congestion_surcharge', 'airport_fee']]

**Crea la columna 'date_only' solo con el valor de la fecha para hacer un merge**

In [ ]:
# Convierte la columna 'tpep_pickup_datetime' a tipo timestamp
df_total_fh = df_total_fh.withColumn('tpep_pickup_datetime', F.to_timestamp(df_total_fh['tpep_pickup_datetime']))

# Extrae la parte de la fecha y asigna a una nueva columna 'date_only'
df_total_fh = df_total_fh.withColumn('date_only', F.to_date(df_total_fh['tpep_pickup_datetime']))

# Muestra el DataFrame con la nueva columna 'date_only'
#df_total.show()

**DATOS DEL TIEMPO**

**Lee y carga el archivo**

In [ ]:
# Especifica la ruta del archivo CSV en Google Drive
ruta_archivo_csv = '/content/drive/MyDrive/Proyecto FInal Henry/DATA*/daily_weather_data.csv'

# Leer el archivo CSV en un DataFrame de PySpark
  daily_weather_data = spark.read.csv(ruta_archivo_csv, header=True, inferSchema=True)

# Mostrar el DataFrame
daily_weather_data.show()

+-------------------+------------------+------------------+-------------------+-----------------+
|               date|temperature_2m_max|temperature_2m_min|temperature_2m_mean|precipitation_sum|
+-------------------+------------------+------------------+-------------------+-----------------+
|2010-01-01 04:00:00|            5.3305|           -4.0695|         0.29091665|        1.8000001|
|2010-01-02 04:00:00|       -0.86950004|           -9.3695|         -3.5465834|              0.7|
|2010-01-03 04:00:00|        -4.8694997|          -10.1195|         -7.6820006|              0.0|
|2010-01-04 04:00:00|           -0.7195|           -7.3195|          -4.873667|              0.0|
|2010-01-05 04:00:00|      -0.119500004|        -7.3694997|         -4.6486664|              0.0|
|2010-01-06 04:00:00|            1.1805|        -5.3694997|         -2.8653333|              0.0|
|2010-01-07 04:00:00|            3.6805|           -3.8195|         -1.2924166|              0.0|
|2010-01-08 04:00:00|            2.0805|           -5.9195|         -1.5611666|       0.70000005|
|2010-01-09 04:00:00|           -1.3195|        -7.9694996|          -5.654917|              0.0|
|2010-01-10 04:00:00|           -1.5695|          -10.4695|         -6.7007504|              0.0|
|2010-01-11 04:00:00|            0.7805|        -7.7194996|         -4.1486664|              0.0|
|2010-01-12 04:00:00|            2.1305|        -4.9694996|          -2.254917|              0.0|
|2010-01-13 04:00:00|            2.3305|        -5.9694996|         -2.9236662|              0.0|
|2010-01-14 04:00:00|            4.4805|        -4.3694997|         -0.8174166|              0.0|
|2010-01-15 04:00:00|          8.580501|           -2.4695|          1.7492499|              0.0|
|2010-01-16 04:00:00|            8.6305|           -2.0695|          1.7430001|              0.0|
|2010-01-17 04:00:00|         4.5305004|           -2.3195|            1.02425|        7.1000004|
|2010-01-18 04:00:00|            9.4805|         1.2804999|           4.278417|        2.3999999|
|2010-01-19 04:00:00|          8.580501|           -1.0195|          3.2325833|              0.0|
|2010-01-20 04:00:00|            5.3305|           -2.3195|         0.67216665|              0.0|
+-------------------+------------------+------------------+-------------------+-----------------+
only showing top 20 rows

**Filtra el dataframe con la columnasnecesarias para el ML**

In [ ]:
daily_weather_data = daily_weather_data [['date', 'temperature_2m_mean', 'precipitation_sum']]
daily_weather_data.show()

+-------------------+-------------------+-----------------+
|               date|temperature_2m_mean|precipitation_sum|
+-------------------+-------------------+-----------------+
|2010-01-01 04:00:00|         0.29091665|        1.8000001|
|2010-01-02 04:00:00|         -3.5465834|              0.7|
|2010-01-03 04:00:00|         -7.6820006|              0.0|
|2010-01-04 04:00:00|          -4.873667|              0.0|
|2010-01-05 04:00:00|         -4.6486664|              0.0|
|2010-01-06 04:00:00|         -2.8653333|              0.0|
|2010-01-07 04:00:00|         -1.2924166|              0.0|
|2010-01-08 04:00:00|         -1.5611666|       0.70000005|
|2010-01-09 04:00:00|          -5.654917|              0.0|
|2010-01-10 04:00:00|         -6.7007504|              0.0|
|2010-01-11 04:00:00|         -4.1486664|              0.0|
|2010-01-12 04:00:00|          -2.254917|              0.0|
|2010-01-13 04:00:00|         -2.9236662|              0.0|
|2010-01-14 04:00:00|         -0.8174166|              0.0|
|2010-01-15 04:00:00|          1.7492499|              0.0|
|2010-01-16 04:00:00|          1.7430001|              0.0|
|2010-01-17 04:00:00|            1.02425|        7.1000004|
|2010-01-18 04:00:00|           4.278417|        2.3999999|
|2010-01-19 04:00:00|          3.2325833|              0.0|
|2010-01-20 04:00:00|         0.67216665|              0.0|
+-------------------+-------------------+-----------------+
only showing top 20 rows

**Crea la columna 'date_only' solo con el valor de la fecha para hacer un merge**

In [ ]:
# Convierte la columna 'date' a tipo timestamp
daily_weather_data = daily_weather_data.withColumn('date', F.to_timestamp(daily_weather_data['date']))

# Extrae la parte de la fecha y asigna a una nueva columna 'date_only'
daily_weather_data = daily_weather_data.withColumn('date_only', F.to_date(daily_weather_data['date']))

# Muestra el DataFrame con la nueva columna 'date_only'
#daily_weather_data.show()

**Realiza la union de ambos dataframes**

In [ ]:
# Realizar la unión de DataFrames en PySpark
merged_df = df_total_fh.join(daily_weather_data, on='date_only', how='left')

# Mostrar el DataFrame resultante
#merged_df.show()

**Imputacion de nulos**

In [ ]:
# Reemplazar los valores nulos en la columna 'passenger_count' con 1
merged_df = merged_df.withColumn('passenger_count', when(merged_df['passenger_count'].isNull(), 1).otherwise(merged_df['passenger_count']))

# Reemplazar los valores nulos en la columna 'congestion_surcharge' con 0
merged_df = merged_df.withColumn('congestion_surcharge', when(merged_df['congestion_surcharge'].isNull(), 0).otherwise(merged_df['congestion_surcharge']))

# Reemplazar los valores nulos en la columna 'airport_fee' con 0
merged_df = merged_df.withColumn('airport_fee', when(merged_df['airport_fee'].isNull(), 0).otherwise(merged_df['airport_fee']))

# Mostrar el DataFrame resultante
#merged_df.show()

**Elimina filas con valores nulos**

In [ ]:
# Eliminar filas con valores nulos
merged_df_sin_nulos = merged_df.na.drop()

**Convierte las columnas de precipitaciones, congestion y aeropuerto en 0 si no ocurrió el evento y 1 si ocurrió**

In [ ]:
# Reemplazar los valores distintos de cero por 1 en la columna 'temperature_2m_mean'
merged_df_sin_nulos = merged_df_sin_nulos.withColumn('precipitation_sum', when(merged_df_sin_nulos['precipitation_sum'] != 0, 1).otherwise(0))

# Reemplazar los valores distintos de cero por 1 en la columna 'congestion_surcharge'
merged_df_sin_nulos = merged_df_sin_nulos.withColumn('congestion_surcharge', when(merged_df_sin_nulos['congestion_surcharge'] != 0, 1).otherwise(0))

# Reemplazar los valores distintos de cero por 1 en la columna 'airport_fee'
merged_df_sin_nulos = merged_df_sin_nulos.withColumn('airport_fee', when(merged_df_sin_nulos['airport_fee'] != 0, 1).otherwise(0))

# Mostrar el DataFrame resultante
#merged_df_sin_nulos.show()

**MODIFICANDO GRANULARIDAD DE LOS DATOS**

**Crea la columna franja horaria a partir de la hora de iniciado el viaje 'tpep_pickup_datetime'**

In [ ]:
# Convertir la columna 'tpep_pickup_datetime' a tipo timestamp
merged_df_sin_nulos = merged_df_sin_nulos.withColumn('tpep_pickup_datetime', F.to_timestamp(merged_df_sin_nulos['tpep_pickup_datetime']))

# Extraer la hora de la columna 'tpep_pickup_datetime' y asignarla a la nueva columna 'franja_horaria'
merged_df_sin_nulos = merged_df_sin_nulos.withColumn('franja_horaria', hour(merged_df_sin_nulos['tpep_pickup_datetime']))

# Mostrar el DataFrame resultante
#merged_df_sin_nulos.show()

**Calcula la duración del viaje en minutos restando las columnas de inicio y fin del viaje**

In [ ]:
# Convertir las columnas 'tpep_pickup_datetime' y 'tpep_dropoff_datetime' a tipo datetime si no lo están
merged_df_sin_nulos = merged_df_sin_nulos.withColumn('tpep_pickup_datetime', to_timestamp(merged_df_sin_nulos['tpep_pickup_datetime']))
merged_df_sin_nulos = merged_df_sin_nulos.withColumn('tpep_dropoff_datetime', to_timestamp(merged_df_sin_nulos['tpep_dropoff_datetime']))

# Calcular la duración del viaje en minutos y redondear el resultado a 2 decimales
merged_df_sin_nulos = merged_df_sin_nulos.withColumn('duracion_viaje_minutos',
                                                     round(((F.col('tpep_dropoff_datetime').cast('long') - F.col('tpep_pickup_datetime').cast('long')) / 60), 2))

# Mostrar el DataFrame con la nueva columna
#merged_df_sin_nulos.show()

**Agrupa las columnas por fechas y franjas horarias**

In [ ]:
# Define la ventana de partición
window_spec = Window.partitionBy('date_only', 'franja_horaria')

# Agrupar por fecha y franja horaria y sumar los viajes en cada grupo
merged_df_sin_nulos = merged_df_sin_nulos.withColumn('suma_viajes', F.count('passenger_count').over(window_spec))

# Agrupar por fecha y franja horaria y sumar los pasajeros en cada grupo
merged_df_sin_nulos = merged_df_sin_nulos.withColumn('suma_pasajeros', F.sum('passenger_count').over(window_spec))

# Aquí agrupamos por 'date_only' y 'franja_horaria' y sumamos 'trip_distance'
merged_df_sin_nulos = merged_df_sin_nulos.withColumn('suma_distancias', F.sum('trip_distance').over(window_spec))

# Aquí agrupamos por 'date_only' y 'franja_horaria' y sumamos 'total_amount'
merged_df_sin_nulos = merged_df_sin_nulos.withColumn('suma_tarifas', F.sum('total_amount').over(window_spec))

# Aquí agrupamos por 'date_only' y 'franja_horaria' y promediamos 'congestion_surcharge'
merged_df_sin_nulos = merged_df_sin_nulos.withColumn('promedio_congestion', F.avg('congestion_surcharge').over(window_spec))

# Aquí agrupamos por 'date_only' y 'franja_horaria' y promediamos 'airport_fee'
merged_df_sin_nulos = merged_df_sin_nulos.withColumn('promedio_aeropuerto', F.avg('airport_fee').over(window_spec))

# Aquí agrupamos por 'date_only' y 'franja_horaria' y promediamos 'temperature_2m_mean'
merged_df_sin_nulos = merged_df_sin_nulos.withColumn('promedio_temperatura', F.avg('temperature_2m_mean').over(window_spec))

# Aquí agrupamos por 'date_only' y 'franja_horaria' y promediamos 'precipitation_sum'
merged_df_sin_nulos = merged_df_sin_nulos.withColumn('promedio_presipitaciones', F.avg('precipitation_sum').over(window_spec))

# Aquí agrupamos por 'date_only' y 'franja_horaria' y sumamos 'duracion_viaje_minutos'
merged_df_sin_nulos = merged_df_sin_nulos.withColumn('suma_duracion_viajes_minutos', F.sum('duracion_viaje_minutos').over(window_spec))


# Redondear todas las salidas a 2 decimales
merged_df_sin_nulos = merged_df_sin_nulos.withColumn('suma_viajes', F.round('suma_viajes', 2))
merged_df_sin_nulos = merged_df_sin_nulos.withColumn('suma_pasajeros', F.round('suma_pasajeros', 2))
merged_df_sin_nulos = merged_df_sin_nulos.withColumn('suma_distancias', F.round('suma_distancias', 2))
merged_df_sin_nulos = merged_df_sin_nulos.withColumn('suma_tarifas', F.round('suma_tarifas', 2))
merged_df_sin_nulos = merged_df_sin_nulos.withColumn('promedio_congestion', F.round('promedio_congestion', 2))
merged_df_sin_nulos = merged_df_sin_nulos.withColumn('promedio_aeropuerto', F.round('promedio_aeropuerto', 2))
merged_df_sin_nulos = merged_df_sin_nulos.withColumn('promedio_temperatura', F.round('promedio_temperatura', 2))
merged_df_sin_nulos = merged_df_sin_nulos.withColumn('promedio_presipitaciones', F.round('promedio_presipitaciones', 2))
merged_df_sin_nulos = merged_df_sin_nulos.withColumn('suma_duracion_viajes_minutos', F.round('suma_duracion_viajes_minutos', 2))

# Mostrar el DataFrame resultante
#merged_df_sin_nulos.show()

**Elimina columnas innecesarias**

In [ ]:
# Lista de columnas a eliminar
columnas_a_eliminar = ['tpep_pickup_datetime', 'tpep_dropoff_datetime', 'duracion_viaje_minutos','passenger_count', 'trip_distance', 'total_amount', 'congestion_surcharge', 'airport_fee', 'pickup_date', 'date', 'temperature_2m_mean', 'precipitation_sum']

# Eliminar las columnas
merged_df_sin_nulos = merged_df_sin_nulos.drop(*columnas_a_eliminar)

# Mostrar el DataFrame resultante
#merged_df_sin_nulos.show()

**Elimina filas duplicadas**

In [ ]:
# Eliminar filas completamente duplicadas
merged_df_sin_nulos = merged_df_sin_nulos.dropDuplicates()

In [ ]:
# Mostrar el DataFrame resultante
merged_df_sin_nulos.show()

+----------+--------------+-----------+--------------+---------------+------------+-------------------+-------------------+--------------------+------------------------+----------------------------+
| date_only|franja_horaria|suma_viajes|suma_pasajeros|suma_distancias|suma_tarifas|promedio_congestion|promedio_aeropuerto|promedio_temperatura|promedio_presipitaciones|suma_duracion_viajes_minutos|
+----------+--------------+-----------+--------------+---------------+------------+-------------------+-------------------+--------------------+------------------------+----------------------------+
|2022-01-01|            14|       3324|        5220.0|       37575.27|    73869.51|               0.87|                0.1|                9.66|                     1.0|                     56106.3|
|2022-01-01|            21|       2703|        4176.0|       10739.83|    57309.62|               0.87|               0.13|                9.66|                     1.0|                    44048.79|
|2022-01-02|             1|       1016|        1594.0|         5050.8|    24711.37|               0.83|               0.16|                9.64|                     1.0|                    17127.36|
|2022-01-03|            12|       4498|        6368.0|       13423.19|    80529.33|                0.9|               0.06|               -1.11|                     1.0|                    63098.02|
|2022-01-04|            18|       5346|        7413.0|       17106.12|   104126.33|               0.89|               0.08|               -3.05|                     0.0|                    66782.57|
|2022-01-06|             4|        210|         280.0|         889.55|     4495.52|               0.81|               0.01|                1.95|                     0.0|                     2626.87|
|2022-01-08|             0|       2984|        4370.0|       10537.01|    58314.37|               0.88|               0.08|               -5.77|                     0.0|                    40282.56|
|2022-01-08|            13|       5170|        7621.0|       15576.88|    92974.91|               0.91|               0.06|               -5.77|                     0.0|                    65719.11|
|2022-01-11|            22|       2464|        3366.0|        9135.37|    49725.73|               0.88|                0.1|               -6.91|                     0.0|                     32286.9|
|2022-01-13|            14|       5844|        8025.0|       17312.74|   109395.03|               0.92|               0.06|                1.04|                     0.0|                    94679.48|
|2022-01-13|            20|       4141|        5692.0|        13535.0|    79354.06|               0.91|               0.07|                1.04|                     0.0|                     54512.9|
|2022-01-15|            18|       5614|        8151.0|      122430.07|    98406.43|               0.91|               0.05|               -7.92|                     0.0|                    86406.59|
|2022-01-17|            10|       3005|        4116.0|        9503.51|    55295.15|               0.89|               0.07|                3.61|                     1.0|                    39583.43|
|2022-01-18|             8|       4681|        5994.0|       18049.17|    84112.57|               0.88|               0.04|               -0.85|                     0.0|                    75219.74|
|2022-01-20|             9|       4709|        5965.0|       11216.82|    80428.97|               0.91|               0.03|                0.89|                     1.0|                    66505.99|
|2022-01-21|             4|        338|         473.0|        1345.46|     6991.21|               0.82|               0.02|               -7.99|                     0.0|                     4039.04|
|2022-01-22|             3|       1711|        2504.0|        5277.51|    31671.39|               0.92|               0.01|               -6.76|                     0.0|                    21285.38|
|2022-01-22|            20|       4987|        7320.0|       14629.23|    93038.14|               0.91|               0.05|               -6.76|                     0.0|                    70828.71|
|2022-01-23|             4|       1015|        1456.0|         3472.2|    19811.52|               0.91|               0.01|               -2.09|                     1.0|                     12336.3|
|2022-01-25|            19|       5639|        7461.0|       16261.08|   103221.95|               0.93|               0.05|                1.62|                     0.0|                    72143.89|
+----------+--------------+-----------+--------------+---------------+------------+-------------------+-------------------+--------------------+------------------------+----------------------------+
only showing top 20 rows

**Exporta archivo en formato parquet**

In [ ]:
'''# Ruta para guardar el archivo Parquet con el nombre "df_ml_fh"
output_path_parquet = "/content/drive/MyDrive/Proyecto FInal Henry/DATA/df_ml_fh.parquet"

# Guarda el DataFrame como un solo archivo Parquet
merged_df_sin_nulos.coalesce(1).write.parquet(output_path_parquet, mode="overwrite")'''

**Exporta archivo en formato csv**

In [ ]:
'''
# Ruta para guardar el archivo CSV con el nombre "df_ml_fh"
output_path_csv = "/content/drive/MyDrive/Proyecto FInal Henry/DATA*/df_ml_fh.csv"

# Guarda el DataFrame como un solo archivo CSV
merged_df_sin_nulos.coalesce(1).write.csv(output_path_csv, mode="overwrite", header=True)

'''